<div *ngIf="proposals">
    <div id="header" class="header"></div>
    <div id="content" class="container">
        <div id="pageHeading"></div>
        <div id="proposalListTitle" style="width: 100%;">
            <h3>Proposals for you</h3>
        </div>
        <div id="listOfProposals" style="float: none;">
            <table class="proposalTable">
                <thead>
                    <tr>
                        <th class="iconClass"></th>
                        <th class="proposalIdClass">Number</th>
                        <th class="titleClass">Sheet</th>
                        <th class="commentInCellClass">Note</th>
                        <th class="investedAmountClass">Invested value</th>
                    </tr>
                </thead>
                <tbody *ngFor="#proposal of proposals">
                    <tr class="proposalClass">
                        <td class="iconClass">
                            <sheet-summary [sheet]="proposal.sheet"  [isIconized]="true"></sheet-summary>
                        </td>
                        <td class="proposalIdClass" (click)="onProposalSelected(proposal)" style="cursor: pointer;">{{proposal.id}}</td>
                        <td class="titleClass" (click)="onProposalSelected(proposal)" style="cursor: pointer;">{{proposal.sheet.getTitle()}}</td>
                        <td class="commentInCellClass">{{proposal.getCommentShortText()}}</td>
                        <td class="investedAmountClass">
                            {{proposal.getTotalInvestmentFormatted()}}
                            <span>€</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="currentProposal">
            <proposalCmp [proposal]="currentProposal"></proposalCmp>
        </div>
        <div id="pageFooter"></div>
    </div>
</div>