<div id="investmentComposition" style="float: none;">
   <table class="investmentTable">
        <thead>
            <tr>
                <th class="sourceType">Account or Dossier</th>
                <th class="id">ID</th>
                <th class="maxCapacity">Max capacity</th>
                <th class="investmentAmount">Amount to invest</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#investmentElement of proposal.investmentElements" class="investmentElement">
                <td class="sourceType">
                    <span>{{investmentElement.source.type}}</span>
                </td>
                <td class="id">
                    <span>{{investmentElement.source.id}}</span>
                </td>
                <td  class="maxCapacity">
                    <span>{{investmentElement.source.getMaxCapacityFormatted()}}</span>
                    <span>€</span>
                </td>
                <td  class="investmentAmount">
                    <!--input type="number" [max]="investmentElement.source.maxCapacity" 
                        [(ngModel)]="investmentElement.amount" style="width: 100%;"-->
                    <!--input #investmentInput type="number" [max]="investmentElement.source.maxCapacity" 
                        [value]="investmentElement.getAmountFormatted()" pattern="(^\d+(\.|\,)\d{2})"
                        (change)="onInvestmentChange(investmentElement, investmentInput)" style="width: 100%;"-->
                    <input #investmentInput type="text" 
                        [value]="investmentElement.getAmountFormatted()" 
                        (change)="onInvestmentChange(investmentElement, investmentInput)" style="width: 95%; text-align: right;">
                    <span>€</span>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th class="sourceType">Total</th>
                <th class="id"></th>
                <th class="maxCapacity"></th>
                <th class="investmentAmount">
                    {{proposal.getTotalInvestmentFormatted()}}
                    <span>€</span>
                </th>
            </tr>
        </tbody>
    </table>
</div>


