<!-- Need to protect with the following *ngIf because back end services are async and
there may be situations when proposal has not been fully loaded while the template gets evaluated
(in the first version we do not go to back end);
in these cases, if we do not protect with *ngIf the whole thing crashes since proposal is still
undefined-->
<div *ngIf="proposal">
    <div id="header" class="header"></div>
    <div id="content" class="content">
        <div id="pageHeading">
            <div id="banner"></div>
        </div>
        <div id="details">
            <div id="investmentHeading" style="width: 100%;">
                <div id="investmentTitle" class="sectionTitle">
                    <h3>Proposal for Sheet</h3>
                </div>
                <sheet-summary [sheet]="sheet"  [isIconized]="true" style="float: left; padding-left: 30;"></sheet-summary>
            </div>
            <div id="investment">
                <proposalInvestmentCmp id="proposalInvestment" [proposal]="proposal"></proposalInvestmentCmp>
            </div>
            <div id="comment" class="comment">Note
                <textarea #commentTextEl id="commentText" rows="3" cols="120" [(ngModel)]="proposal.comment" 
                    [disabled]="_userLogged.isCustomer()" [class.invalidField]="!isCommentFilled()"></textarea>
                <div id="errorMessageComment" class="alert alert-danger" [hidden]="!errorMessageComment">{{errorMessageComment}}</div>
            </div>
            <div id="buttons" class="buttonRoster">
                <button id="saveButton" class="basicButton" type="button" (click)="onSaveProposal()" 
                    [hidden]="_userLogged.isCustomer()" [hidden]="saveButtonDisabled">Save</button>
                <button id="buyButton" class="basicButton" type="button" (mouseup)="onBuyProposal()" [hidden]="!_userLogged.isCustomer() || buyOrderSent">Buy</button>
            </div>
            <div id="message" class="message" [hidden]="!proposalMessage">{{proposalMessage}}</div>
            <httpErrorManager [httpErrorResponse]="httpErrorResponse"></httpErrorManager>
            <div id="errorMessage" [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <div id="assetCompositionTitle" class="sectionTitle">
                <h3>Investment composition</h3>
            </div>
            <div id="assetComposition">
                <sheet-assetComposition id="assetComposition" [sheet]="sheet"  [editMode]="false"  
                    [showCharts]="false" [showInvestmentAmounts]="true"></sheet-assetComposition>
            </div>
            <div id="messageToTheBackEnd" [hidden]="!buyMessageForTheBackEnd"  style="float: left">
                <h3>This is an example of a message that could be sent to the back end to fire the buy process</h3>
                <textarea #buyMessage id="buyMessage" rows="30" cols="140">{{buyMessageForTheBackEnd}}</textarea>
            </div>
        </div>
        <div id="pageFooter"></div>
    </div>
</div>