<table id="topControlBar">
    <tbody>
        <tr>
            <td>
                <span class="controlBarLabel">Ordina</span>
                <select id="sortSelect" (change)="sortSheets($event.target.value)">
                    <option *ngFor="#sortCriterium of sortCriteria" value={{sortCriterium.id}}>{{sortCriterium.value}}</option>
                </select>
                <spen class="sortDirection" (click)="toggleSortDirection()">
                    <div class="desc" [style.display]="sortAscending ? 'none' : 'block'"><div>HI</div><div>LO</div></div>
                    <div class="asc" [style.display]="sortAscending ? 'block' : 'none'"><div>LO</div><div>HI</div></div>
                </spen>
            </td>
            <td>
                <span class="controlBarLabel">Vista:</span>
                <a class="gridView" (click)="showGrid = true">Griglia</a>
                <a class="listView" (click)="showGrid = false">Lista</a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="showGrid">
    <div *ngFor="#sheet of sheets" class="floating-box gridCard">
        <sheet-summary [sheet]=sheet [metricToShowInSheetSummary]="metricToShowInSheetSummary"
            (selectionCriteriaChanged)="selectionCriteriaChanged(sheet)"></sheet-summary>
    </div>
</div>

<div *ngIf="!showGrid">
    <div id="listOfSheets">
        <table id="sheetTable">
            <thead>
                <tr>
                    <th class="nameClass">Nome</th>
                    <th class="oneMonthReturnClass">Ritorno ultimo mese</th>
                    <th class="oneYearReturnClass">Ritorno annuale</th>
                    <th class="dailyChange">Variazione giornaliera</th>
                    <th class="selectForComparisonClass" [hidden]="!isSelectionOfSheetEnabled">Seleziona</th>
                </tr>
            </thead>
            <tbody *ngFor="#sheet of sheets">
                <tr class="sheetRow" [class.even]="sheet.isEven">
                    <td class="nameClass">
                        <sheet-summary [sheet]="sheet"  [isIconized]="true"></sheet-summary>
                    </td>
                    <td class="oneMonthReturnClass">{{sheet.oneMonthReturn}}</td>
                    <td class="oneYearReturnClass">{{sheet.oneYearReturn}}</td>
                    <td class="dailyChange">{{sheet.dailyChange}}</td>
                    <td class="selectForComparisonClass" [hidden]="!isSelectionOfSheetEnabled">{{sheet.isSelectedForComparison}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>