        <div id="info">
            <div id="image">
                <img class="clickable" height="146" width="146" src={{sheet?.imageUrl}} (click)="onClickOverImage()">
                <div class="imageOverlayTop" [style.display]="sheet.isPersonalized() ? 'block' : 'none'">
                    <span class="name sheetLink">Personalizzato</span>
                </div>
            </div>
            <div id="name">
                <h1>{{sheet?.getTitle()}}
                    <!--span [style.display]="sheet.isPersonalized() ? 'block' : 'none'">  -- Personalizzato</span-->
                </h1>
                <div id="divider"></div>
                <h3>Created by: {{sheet?.createdBy}}</h3>
                <div id="performance">
                    <div id="perfNumber">
                        <div><span [class.percentageArrowUpLarge]="hasPositiveOneYearReturn()"
                                   [class.percentageArrowDownLarge]="!hasPositiveOneYearReturn()">
                            <span></span>{{sheet?.oneYearReturn}}</span>
                        </div>
                        <label>1 Year Return</label>
                    </div>
                    <div id="perfNumber">
                        <div><span [class.percentageArrowUpLarge]="hasPositiveOneMonthReturn()"
                                   [class.percentageArrowDownLarge]="!hasPositiveOneMonthReturn()">
                            <span></span>{{sheet?.oneMonthReturn}}</span>
                        </div>
                        <label>1 Month Return</label>
                    </div>
                    <div id="perfNumber">
                        <div><span [class.percentageArrowUpLarge]="hasPositiveDailyChange()"
                                   [class.percentageArrowDownLarge]="!hasPositiveDailyChange()">
                            <span></span>{{sheet?.dailyChange}}</span>
                        </div>
                        <label>Daily Performance</label>
                    </div>
                </div>
            </div>
        </div>