<div *ngIf="sheet">
    <div id="assetComposition">
        <div id="assetTable">
            <div id="buttons" class="buttonRoster">
                <button id="customizeButton" class="basicButton" type="button" (click)="onClickOverCustomizeButton()"
                    [hidden]="!editMode">{{getCustomizeButtonText()}}</button>
                <button id="relativeScaleButton" class="basicButton" type="button" (click)="onClickOverRelativeScaleButton()" [style.display]="editStatus ? 'block' : 'none'">{{getRelativeScaleButtonText()}}</button>
                <button id="saveButton" class="basicButton" type="button" (click)="onClickOverSaveButton()" [style.display]="isChanged ? 'block' : 'none'">Salva</button>
            </div>
            <div id="message" class="message" [hidden]="!sheetMessage">{{sheetMessage}}</div>
            <div id="errorMessage" class="alert alert-danger" [hidden]="!errorMessage">{{errorMessage}}</div>
            <table class="overviewAssetTable">
                <thead>
                    <tr>
                        <th class="weightClass">Weight</th>
                        <th class="nameClass">Segment &amp; Stocks</th>
                        <th class="symbolClass">Symbol</th>
                        <th class="returnClass" [style.display]="showInvestmentAmounts ? 'none' : 'table-cell'">
                            <span [class.clickable]="!oneMonthReturn" (click)="toggleOneMonthReturn()">1 MO</span> / 
                            <span [class.clickable]="oneMonthReturn"  (click)="toggleOneMonthReturn()">1 YR</span> Return
                        </th>
                        <th class="investedAmountClass" [style.display]="showInvestmentAmounts ? 'table-cell' : 'none'">Valore investito</th>
                        <th class="newWeightSliderClass" [style.display]="editStatus ? 'table-cell' : 'none'">New weight</th>
                        <th class="lockClass" [style.display]="editStatus ? 'table-cell' : 'none'">Lock</th>
                    </tr>
                </thead>
                <tbody *ngFor="#assetGroup of sheet.assetGroups">
                    <tr class="assetGroupClass">
                        <th class="weightClass">
                            <!--span [style.display]="editStatus ? 'none' : 'table-cell'">{{assetGroup.weight.toFixed(2)}}%</span>
                            <input type="number" [min]="assetGroup.minWeight" [max]="assetGroup.maxWeight" [value]="assetGroup.weight" [style.display]="editStatus ? 'table-cell' : 'none'"-->
                            <input #weightInput type="text" [value]="assetGroup.weight.toFixed(2)" [disabled]="!editStatus"
                                [class.inputFieldDisabled]="!editStatus" 
                                [class.inputFieldEnabled]="editStatus" 
                                (change)="onSetAssetGroupWeight(weightInput, assetGroup)">%
                        </th>
                        <th id="assetGroupNameClass" colspan="2" (click)="onAssetGroupClick(assetGroup)">
                            <span class="arrow" [class.open]="assetGroup.show"></span>
                            <span>{{assetGroup.name}}</span>
                        </th>
                        <th  class="returnClass" [style.display]="showInvestmentAmounts ? 'none' : 'table-cell'">
                            <span [class.percentageArrowUpSmall]="hasPositiveReturn(assetGroup)"
                                  [class.percentageArrowDownSmall]="!hasPositiveReturn(assetGroup)">
                                    {{getReturnValue(assetGroup)}}</span>
                        </th>
                        <th class="investedAmountClass" [style.display]="showInvestmentAmounts ? 'table-cell' : 'none'">{{assetGroup.getInvestmentAmountFormatted()}}</th>
                        <td class="newWeightSliderClass" [style.display]="editStatus ? 'table-cell' : 'none'">
                            <!--my-slider [start]="getStart(assetGroup)" [range]="getRange(assetGroup)" [pips]="getPips(assetGroup)" (end)="onEndOnAssetGroup($event, assetGroup)" 
                                [newValue]="assetGroup.newWeight" [locked]="assetGroup.locked" [isGroup]="true" 
                                [relativeStartOfScale]="startOfScaleRelative ? assetGroup.relativeStartOfScale : '0'"></my-slider-->
                            <my-slider [start]="getStart(assetGroup)" [range]="getRange(assetGroup)" (end)="onEndOnAssetGroup($event, assetGroup)" 
                                [newValue]="assetGroup.newWeight" [locked]="assetGroup.locked" [isGroup]="true" 
                                [relativeStartOfScale]="startOfScaleRelative ? assetGroup.relativeStartOfScale : '0'"></my-slider>
                        </td>
                        <th [style.display]="editStatus ? 'table-cell' : 'none'" [class]="assetGroup.locked ? 'lockClass locked' : 'lockClass unlocked'" (click)="onToggleLock(assetGroup)"></th>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div *ngFor="#asset of assetGroup.assets" [style.display]="assetGroup.show ? 'block' : 'none'">
                                <table width=100%>
                                    <tr class="assetClass">
                                        <td class="weightClass">
                                            <!--span>{{asset.weight.toFixed(2)}}%</span-->
                                            <input #weightInput type="text" [value]="asset.weight.toFixed(2)" [disabled]="!editStatus"
                                                [class.inputFieldDisabled]="!editStatus" 
                                                [class.inputFieldEnabled]="editStatus" 
                                                (change)="onSetAssetWeight(weightInput, asset, assetGroup)">%
                                        </td>
                                        <td class="nameClass" (mouseover)="onMouseOver(asset)">
                                            
<div class="tooltip tooltip-effect-1">
    <span class="tooltip-item">{{asset.name}}</span>
    <div class="tooltip-content clearfix">
        <div class="tooltipHeading"> {{asset.name}} - 
            <span>{{asset.symbol}}</span>
        </div>
        <div class="tooltipFundamentals clearfix">
            <div class="col1">
                <div class="tooltipCellTitle">Apertura</div>
                <div class="tooltipAmount">{{asset.openPrice}}</div>
            </div>
            <div class="col2">
                <div class="tooltipCellTitle">Massimo</div>
                <div class="tooltipAmount">{{asset.highPrice}}</div>
            </div>
            <div class="col3">
                <div class="tooltipCellTitle">Minimo</div>
                <div class="tooltipAmount">{{asset.lowPrice}}</div>
            </div>
            <div class="col4">
                <div class="tooltipCellTitle">Chiusura</div>
                <div class="tooltipAmount">{{asset.closePrice}}</div>
            </div>
            <div class="col5">
                <div class="tooltipCellTitle">Volumi</div>
                <div class="tooltipVolume">{{asset.getVolumeFormatted()}}</div>
            </div>
        </div>
        <div class="tooltipBottom"> Data di valorizzazione - 
            <span>{{asset.dateOfPrices}}</span>
        </div>
        <div class="tooltipBottom"> Powered by - 
            <a class="quandl-logo" href="https://www.quandl.com">QUANDL</a>
        </div>
    </div>
</div>                                            
                                            
                                        </td>
                                        <td class="symbolClass">
                                            <span>{{asset.symbol}}</span>
                                        </td>
                                        <td class="returnClass" [style.display]="showInvestmentAmounts ? 'none' : 'table-cell'">
                                            <span [class.percentageArrowUpSmall]="hasPositiveReturn(asset)"
                                                    [class.percentageArrowDownSmall]="!hasPositiveReturn(asset)">
                                                    {{getReturnValue(asset)}}</span>
                                        </td>
                                        <td class="investedAmountClass ng-invalid" [style.display]="showInvestmentAmounts ? 'table-cell' : 'none'"
                                            [style.border-left]="!asset.isValidated ? '5px solid #a94442' : '1px solid #A1A1A1'">{{asset.getInvestmentAmountFormatted()}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td colspan="2" [style.display]="editStatus ? 'table-cell' : 'none'">
                            <div *ngFor="#asset of assetGroup.assets" [style.display]="assetGroup.show ? 'block' : 'none'">
                                <table width=100%>
                                    <tr class="assetClass">
                                        <td class="newWeightSliderClass">
                                            <!--my-slider [start]="getStart(asset)" [range]="getRange(asset)" [pips]="getPips(asset)" (end)="onEndOnAsset($event, asset, assetGroup)"  
                                                    [newValue]="asset.newWeight" [locked]="asset.locked" 
                                                    [relativeStartOfScale]="startOfScaleRelative ? asset.relativeStartOfScale : '0'"></my-slider-->
                                            <my-slider [start]="getStart(asset)" [range]="getRange(asset)" (end)="onEndOnAsset($event, asset, assetGroup)"  
                                                    [newValue]="asset.newWeight" [locked]="asset.locked" 
                                                    [relativeStartOfScale]="startOfScaleRelative ? asset.relativeStartOfScale : '0'"></my-slider>
                                        </td>
                                        <td [class]="asset.locked ? 'lockClass locked' : 'lockClass unlocked'" (click)="onToggleLock(asset)"></td>                                            
                                    </tr>                                        
                                </table>
                            </div>                                
                        </td>
                    </tr>                        
                </tbody>
            </table>
            <div *ngIf="isChanged || sheet.isPersonalized()">
                <div id="shortNote" class="comment">
                    <label>Breve nota</label>
                    <input type="text" id="shortNoteText" size="27" [(ngModel)]="sheet.shortNote" [disabled]="!isChanged"/>
                </div>
                <div id="comment" class="comment">
                    <label>Commento</label>
                    <textarea id="commentText" rows="3" cols="120" 
                        [(ngModel)]="sheet.personalizationComment" [disabled]="!isChanged"></textarea>
                </div>
            </div>            
        </div>
        <div id="assetChart">
            <sheet-compositionCharts id="sheetCharts" [sheet]="sheet" [hidden]="!showCharts"></sheet-compositionCharts>
        </div>
    </div>
</div>

