<button id="simpleComplexViewToggle" class="toggleViewButton" type="button" 
    (click)="simpleComplexViewToggle()">{{getSimpleComplexViewText()}}</button>
<div id="returnPerioButtons" *ngIf="!complexView" >
    <button id="lastMonth" class="basicButton" type="button" (click)="setLastMonthSeries()" 
        [disabled]="isLastMonthPeriod()">Ultimo mese</button>
    <button id="lastYear" class="basicButton" type="button" (click)="setLastYearSeries()" 
        [disabled]="isLastYearPeriod()">Ultimo anno</button>
    <button id="all" class="basicButton" type="button" (click)="setAllSeries()" 
        [disabled]="isAllPeriod()">Ab origine</button>
</div>
<div *ngIf="!complexView" [ng2-highcharts]="chartOptions" class="graph"></div>
<div *ngIf="complexView" [ng2-highstocks]="chartOptions" class="graph"></div>