<!-- Need to protect with the following *ngIf because back end services are async and
there are situations when sheet has not been fully loaded while the template gets evaluated;
in these cases, if we do not protect with *ngIf the whole thing crashes since sheet is still
undefined-->
<div *ngIf="sheet">
<div id="header" class="header"></div>
<div id="content" class="content">
    <div id="pageHeading">
        <div id="banner"></div>
    </div>
    <div id="details">
        <div id="assetInfo">
            <sheet-info id="assetInfo" [sheet]="sheet"></sheet-info>
        </div>
        <div id="description">
            <h2>{{sheet.longTitle}}</h2>
            <short-long-text [longText]="sheet.description" [shortTextLength]="shortDescriptionTextLength"></short-long-text>
        </div>
        <div id="buttons" class="buttonRoster">
            <button id="compareButton" class="basicButton" type="button" (click)="onClickOverCompareButton()"
                [style.display]="hasId() ? 'block' : 'none'">Confronta</button>
            <button id="prepareProposalButton" class="basicButton" type="button" (click)="onPrepareProposal()"
                [style.display]="hasId() ? 'block' : 'none'">Proposta</button>
        </div>
        <div id="performanceChart">
            <sheet-returnData id="returnData" [sheets]="sheets"></sheet-returnData>
        </div>
        <div id="assetComposition">
            <sheet-assetComposition id="assetComposition" [sheet]="sheet" [editMode]="editMode"></sheet-assetComposition>
        </div>
    </div>
    <div id="pageFooter"></div>
</div>
</div>