<p>
This is a Prototype that I have developed using the MEAN stack, in particular <mark>Angular2</mark> for the Front End. 
<br>
The Client, a Financial Institution, wants to launch on the market a new Family of products dedicated exclusively 
to the Digital channel. Each of these products represent a bundle of financial instruments (stocks, bonds, funds) 
selected by the Financial Institution around a certain investment theme (e.g. Automotive in East Asia or Energy 
in North America). Inspiration for this family of Products has been derived from Motif (<a target="_blank" 
href="https://www.motifinvesting.com/motifs#catalog=our">www.motifinvesting.com</a>).
<br>
In a series of workshops where the client has  presented the main characteristics of the products and how the presale/sale 
processes should be developed on the Digital channel.
<br>
Starting from the what has emerged from the Workshops, leveraging Motif as an example, I have developed the Prototype. 
<br>
<br>
The prototype has been developed with <mark>Angular2</mark> and <mark>Typescript</mark> for the front end, <mark>Express/NodeJS</mark>
 to build a simple light server using <mark>MongoDB</mark> as DB.
<br>
We need still to work on ‘Responsiveness’ (i.e. make the site work optimally on different devices which have different 
screen sizes) and multi browser support (now the prototype works best with Chrome and last Safari).
<br>
A part from these 2 points, we think that the Prototype in its front end (Angular2) part is 'production quality' code. 
We leverage greatly the composition pattern (via Angular2 components) and have based the solution on a sound Object Oriented
model (made possible by the use of Typescript).
<br>
<br>
You can use any credential to login.
<br>
If you fill both the PFA and Customer IDs then it means that you are working as a PFA who wants to prepare a proposal for a Customer.
<br>
If you fill just the Customer ID (leaving the PFA ID empty) then it means that you are entering as a customer and you are 
entitle to view the proposals that the PFA has prepared for you.
<br>
<br>
The prototype covers the following <strong><em>functionalities</em></strong>:
<br>
- <strong>Dashboard</strong> (basically the <strong>Product Catalogue</strong>): in this page all the available products are shown with different search and
sorting criteria
<br>
- <strong>Detailed View</strong>: shows the details of a single product (e.g. description, financial data, charts, assets that compose the 
product); through this view we can also customize the product (within the limits set by the min/max rules) and save 
the customized version.
<br>
- <strong>Compare view</strong>: we can compare 2 Products
<br>
- <strong>Proposal view</strong>: starting from the Details view we can create a Proposal (if we are acting as PFA)
<br>
- <strong>Proposal list and detail view</strong>: if we enter as customer, we can see the list of our proposals, we can select one, modify the 
amount of investment and, eventually, decide to buy. The process ends with the creation of a message which can go to the 
bace end system responsible for the execution of the orders on the market.
</p>    



         <div class="container" style="width: 30%;">
            <h1>Login Form</h1>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group" style="width: 100%;">
                <label for="PBId" style="width: 25%; float: left">PFA ID</label>
                <input type="text" class="form-control"
                    [(ngModel)]="_user.pbId" ngControl="pbId" #pbId="ngForm" style="width: 50%;">
            </div>
            <div class="form-group" style="width: 100%;">
                <label for="CustomerId" style="width: 25%; float: left">Customer ID</label>
                <input type="text" class="form-control" required
                    [(ngModel)]="_user.customerId" ngControl="customerId" #customerId="ngForm" style="width: 50%;">
            </div>
            <div [hidden]="pbId.valid || pbId.pristine" class="alert alert-danger" style="width: 100%;">
                The customer ID is mandatory
            </div>
            <div class="form-group" style="width: 100%;">
                <label for="CustomerMail" style="width: 25%; float: left">Customer mail</label>
                <input type="text" class="form-control"
                    [(ngModel)]="_user.mail" ngControl="mail" #mail="ngForm" style="width: 50%;">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
            </form>
        </div>