.percentageArrow.large {
    font-size: 26px;
    font-weight: normal;
}
.percentageArrow.up {
	background: url(/images/catalogSprite.png) -184px -432px no-repeat;
    padding-left: 22px;
    color: #3ba729;
}
.percentageArrow.up.small {
    color: #3ba729;
    padding: 0 0px 0 14px;
    background: url(/images/iconsSprite.png) 0px -165px no-repeat;
    text-align: left;
}

.percentageArrowUpLarge {
    font-size: 26px;
    font-weight: normal;
    color: #3ba729;
    padding-left: 22px;
    background: url(/images/catalogSprite.png) -184px -432px no-repeat;
}

.percentageArrowDownLarge {
    font-size: 26px;
    font-weight: normal;
    color: #DD2D2D;
    padding-left: 22px;
    background: url(/images/catalogSprite.png) -184px -473px no-repeat;
}

.percentageArrowUpSmall {
    color: #3ba729;
    padding: 0 0px 0 14px;
    background: url(/images/iconsSprite.png) 0px -165px no-repeat;
    text-align: left;
}

.percentageArrowDownSmall {
    color: #DD2D2D !important;
    padding: 0 0px 0 14px;
    background: url(/images/iconsSprite.png) 0px -150px no-repeat;
    text-align: left;
}

.arrow {
    background: url("/images/sprite.png") no-repeat 4px -97px;
    content: "";
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 0 5px 0 0;
    width: 14px;
}

.arrow.open {
    background-position: 0 -72px;
}

.basicButton {
    height: 20px;
    width: 110px;
    float: left;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    background-color: azure;
    border-top: 0;
    padding-top: 0;
}

.buttonRoster {
    height: 30;
    margin-top: 10;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}


.invalidField {
  border-left: 5px solid #a94442; /* red */
}

.comment {
    width: 100%;
}

.sectionTitle {
    float: left; 
    margin-bottom: -40;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.inputFieldDisabled {
    width: 80%;
    text-align: right;
    padding-right: 2;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.inputFieldEnabled {
    width: 80%;
    text-align: right;
    padding-right: 2;
    /*border: none;*/
}

.clickable{
    cursor: pointer;
    color: #1BA2DC
}

.errorMessage {
    color: darkred;
}