#errorMessage {
    width: 100%;
}

.httpAlert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.httpAlert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}