.gridImageFrame {
    position: absolute;
    width: 229px;
    height: 198px;
    overflow: hidden;
    top: 1px;
    left: 1px;
}

.gradient {
    position: absolute;
    background: url(/images/catalogBgSprite.png) 0 -107px;
    z-index: 3;
    width: 230px;
    height: 200px;
    bottom: 0;
    left: 0;
}

.metrics {
    width: 229px;
	display: block;
    line-height: 18px;
    margin-top: 210px;
    text-align: center;
}

.metricLabel {
    text-transform: uppercase;
    font-weight: 600;
}

.metricValue {
    margin-top: 8px;
}

.imageOverlay {
    position: absolute;
    left: 15px;
    width: 210px;
    z-index: 4;
    bottom: 12px;
}

.name.sheetLink {
    color: #FFF;
    font-size: 18px;
    line-height: 26px;
    display: block;
    text-shadow: 1px 1px #000;
    margin-left: -1px;
}

.creatorName {
    color: #FFF;
    line-height: 15px;
    font-size: 11px;
    font-weight: 300;
    text-shadow: 1px 1px #000;
}